{% extends "adminbase" %}

{% block head %}
<link rel="stylesheet" href="/files/css/css.css"/>
<script src="/files/js/admincss.js" defer></script>

{% endblock head %}


{% block body %}
<textarea class="textarea" id="cssarea">
</textarea>
<button class="button is-primary" id="savebtn">Save</button>
<button class="button is-danger" id="resetbtn">Reset</button>
            
{% endblock body %}