<!DOCTYPE html>

<head>
        <title>Admin Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
        <script src="/files/js/admin_login.js" defer></script>
</head>

<body>
    <h1 class="title">Admin Login</h1>
    <input class="input" type="password" id="password">
    <button class="button is-primary" id="loginbtn">Login</button>
</body>